body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.section-class{
    display: flex;
    padding: 60px;
    
    
}
.orange-color{
    color: orange;
}
.border-color{
    border-left: 4px solid red;
    padding-left: 20px;
   border-radius: 4px;
}
.for-width{
    width:50%;
    padding-left: 0%;
}
.for-width img {
    width: 70%;
}

.link-button{
    text-decoration: none;
    background-color: rgb(252, 66, 10);
    background-image: linear-gradient(white red );
    color:white;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 40px;

}
.for-width-mvg{
    width: 30%;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
}
.for-width-mvg img{
    width: 40%;
}
.bc-mission{
    background-color: rgb(87, 150, 114);
    
}
.bc-vision{
    background-color: rgb(83, 44, 75);
}
.bc-goal{
    background-color: rgb(163, 172, 84);
    
}
.left-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 230px;
}
.right-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
}

.for-width1{
    width:40%;
    padding-left: 3%;
}
.for-width2{
    width:60%;
    padding-left: 0%;
}
.for-width1 img {
    width: 90%;
}
.spider{
    width: 50%
}
.spider img{
    width:89%;
}
.for-footer{
    text-align: center;
    color: white;
    background-color: rgb(15, 0, 0);
    padding:20px;
    margin-top: 100px;
}
